@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');

/* #region Globals */
* {
    font-family: 'Raleway', sans-serif;
}
body {
    /* CSS Variables */
    --primary-color: #00A1E4;
    --accent-color: #DC0073;
    --text-on-primary-color: #ffffff;

    margin: 0;
    padding: 0;
    background-color: #e8e8e8;
    font-size: 16px;
}
a {
    box-sizing: border-box;
    text-decoration: none;
    color: var(--accent-color);
}
/* #endregion Globals */

/* #region CSS Components */
#main {
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 1em;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 2em);
}
@media screen and (max-width: 992px) {
    #main {
        padding-left: 20%;
        padding-right: 20%;
    }
}
@media screen and (max-width: 600px) {
    #main {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}
.btn {
    border: none;
    outline: none;
    padding: 8px 16px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-on-primary-color);
    font-weight: 600;
    font-size: 1em;

    border-radius: 16px;
}
.btn-outline {
    background-color: transparent;
    color: var(--primary-color);
    /* border: 1px solid var(--primary-color); */
}
.btn-block {
    display: block;
    width: 100%;
}
input:not([type="checkbox"]), input[type="email"], input[type="password"], input[type="text"] {
    width: 100%;
    border: none;
    padding-left: 1.5em;
    padding-right: 1.5em;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    font-size: 1em;
    line-height: 2em;
    text-align: center;
    outline: none;
}
/* #endregion CSS Components */

/* #region Common Styles */

/* #region Typography */
.type--display4 {
    font-size: 7em;
    font-weight: 300;
}
.type--headline {
    font-size: 2.5em;
    font-weight: 400;
}
.type--title {
    font-size: 1.5em;
    font-weight: 400;
}
.type--body {
    font-size: 1em;
    font-weight: 300;
}
.type--caption {
    font-size: 0.7em;
    font-weight: 300;
}
.type--relaxed {
    letter-spacing: 0.2em;
}
.type--uppercase {
    text-transform: uppercase;
}
/* #endregion */

/* #region Positioning */
.center {
    margin-left: auto;
    margin-right: auto;
}
.valign-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.text-center {
    text-align: center;
}
/* #endregion Positioning */

/* #region Layout */
.m-0 {
    margin: 0;
}
.m-t-24 {
    margin-top: 24px;
}
.m-b-8 {
    margin-bottom: 8px;
}
.m-b-16 {
    margin-bottom: 16px;
}
.m-b-24 {
    margin-bottom: 24px;
}
.p-h-24 {
    /* Horizontal padding */
    padding-left: 24px;
    padding-right: 24px;
}
.p-v-48 {
    /* Vertical padding */
    padding-top: 48px;
    padding-bottom: 48px;
}
.separator {
    flex: 1 0 auto;
}
/* #endregion Layout */

/* #region Drop Shadows */
.depth-4 {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.15);
}
/* #endregion Drop Shadows */

/* #region Color */
.white {
    background-color: #ffffff;
}
.primary {
    background-color: var(--primary-color);
}
.accent {
    background-color: var(--accent-color);
}
.white-text {
    color: #ffffff;
}
.black-text {
    color: #000000;
}
.primary-text {
    color: var(--primary-color);
}
.accent-text {
    color: var(--accent-color);
}
/* #endregion Color */
/* #endregion */