ul.bullet-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.bullet-list li {
  line-height: 2.5em;
  font-size: 1em;
  font-weight: 400;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
ul.bullet-list li:hover {
  background-color: rgba(0,0,0,.01);
  border-radius: 4px;
}
ul.bullet-list i {
  /* padding: 0 0.5em; */
  display: inline-block;
  width: 2.5em;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}
ul.bullet-list i:hover {
  color: var(--accent-color);
}
ul.bullet-list .task-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
}
ul.bullet-list .edit {
  display: none;
  /* margin-left: auto; */
  float: right;
}
ul.bullet-list li:hover .edit {
  display: inline-block;
}