header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-bottom: 0.5em;
  font-size: 1.25em;
  font-weight: 300;
}
header a {
  padding: 0 0.5em;
  color: inherit;
}