section.page {
  /* width: 24em; */
  max-width: 100vw;
  background: #fff;
  padding: 0 1.5em;
  border-radius: 8px;
  flex: 1;
  display: flex;
  flex-direction: column;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.15);
  z-index: 10;
}
.page h3 {
  border-bottom: 1px solid rgba(0,0,0,0.15);
  margin: 0;
  line-height: 2.5em;
}