nav.footer-nav {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
nav.footer-nav a {
  display: inline-block;
  flex: 1;
  margin: 0 0.25em;
  padding: 0 1em;
  line-height: 2em;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.15);
  z-index: 0;
  
  background-color: #fff;
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.5em;
}
nav.footer-nav a.active {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}